---
import Img from './Img.astro';
---

<section id="doctors" class="py-20 bg-[#178066]">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center mb-12 text-center">
      <h2 class="text-4xl font-bold text-white animate-fade-in uppercase">Kadromuz</h2>
      <div class="w-24 h-1 bg-emerald-600 mx-auto mt-4 rounded-full"></div>
      <p class="max-w-2xl mx-auto px-0 mt-6 text-white text-lg">Her an hizmetinize hazır kadromuz.</p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      {
        [
          {
            name: 'DR. İLKAY TAZE',
            image: 'images/asm/doctors/ilkay_taze.webp',
            code: '3516035',
            phone: '+90 (232) 873 40 74',
            assistant: 'Fatma Doğru',
            schedule: 'images/asm/schedules/ilkay_taze_program.jpg',
          },
          {
            name: 'DR. AHMET SERHAN SÜNBÜL',
            image: 'images/asm/doctors/ahmet_serhan_sunbul.webp',
            code: '3516015',
            phone: '+90 (232) 873 40 74',
            assistant: 'Ebe Şenay Erdoğdu',
            schedule: 'images/asm/schedules/ahmet_serhan_schedule.webp',
          },
          {
            name: 'DR. MURAT TANSEL KUTLUK',
            image: 'images/asm/doctors/murat_tansel_kutluk.webp',
            code: '3516030',
            phone: '+90 (232) 873 40 81',
            assistant: 'Ebe Hatice Marangoz',
            schedule: 'images/asm/schedules/murat_tansel_kutluk_schedule.webp',
          },
          {
            name: 'UZM. DR. CUMHUR ÇITAK',
            image: 'images/asm/doctors/cumhur_citak.webp',
            code: '3516014',
            phone: '+90 (232) 873 40 81',
            assistant: 'Nesli Çıtak',
            schedule: 'images/asm/schedules/cumhur_citak_schedule.webp',
          },
          {
            name: 'DR. GÖKHAN MUĞLALI',
            image: 'images/asm/doctors/gokhan_muglali.webp',
            code: '3516040',
            phone: '+90 (232) 873 40 81',
            assistant: 'Özgül Bilgin',
            schedule: 'images/asm/schedules/gokhan_muglali_schedulev2.jpeg',
          },
        ].map((doctor) => (
          <div class="w-full">
            <div class="bg-white p-8 rounded-2xl mb-8 border border-black/10 shadow-sm group">
              <div class="w-full mb-6 text-center">
                <h5 class="text-2xl font-bold text-[#178066]">{doctor.name}</h5>
              </div>
              <div class="overflow-hidden rounded-lg w-full h-[500px]">
                <img
                  loading="lazy"
                  decoding="async"
                  src={doctor.image}
                  alt={`${doctor.name} Fotoğraf`}
                  class="w-full h-full object-cover"
                />
              </div>
              <div class="bg-white/50 backdrop-blur-sm rounded-lg p-6 mt-4">
                <div class="space-y-2">
                  <div class="flex flex-col lg:flex-row lg:justify-between rounded p-2 border-b border-gray-100 last:border-0">
                    <div class="font-medium text-lg text-gray-800">Birim Kodu</div>
                    <div class="text-base text-gray-600">{doctor.code} No'lu Aile Hekimi</div>
                  </div>
                  <div class="flex flex-col lg:flex-row lg:justify-between rounded p-2 border-b border-gray-100 last:border-0">
                    <div class="font-medium text-lg text-gray-800">Telefon</div>
                    <div class="text-base text-gray-600">{doctor.phone}</div>
                  </div>
                  <div class="flex flex-col lg:flex-row lg:justify-between rounded p-2 border-b border-gray-100 last:border-0">
                    <div class="font-medium text-lg text-gray-800">Aile Sağlığı Elemanı</div>
                    <div class="text-base text-gray-600">{doctor.assistant}</div>
                  </div>
                </div>
              </div>
              <div class="w-full flex p-4 justify-center items-start mt-6 min-h-[450px]">
                <Img src={doctor.schedule} alt={`${doctor.name} Programı`} />
              </div>
            </div>
          </div>
        ))
      }
      <div class="flex flex-col w-full h-full">
        <div class="bg-white p-8 rounded-2xl mb-8 border border-black/10 shadow-sm group">
          <div class="w-full mb-6 text-center">
            <h5 class="text-2xl font-bold text-[#178066]">ACİL HEMŞİRELERİ</h5>
          </div>
          <div class="overflow-hidden rounded-lg w-full h-[500px]">
            <img
              loading="lazy"
              decoding="async"
              src="images/asm/doctors/acil_hemsireleri.webp"
              alt="Acil hemşireleri"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
</style>
