---
const title = 'ULUCAK AİLE SAĞLIK MERKEZİ';
const description =
  'İzmir Kemalpaşa bölgesinde bulunan “Ulucak ASM” vatandaşlarımıza daha çağdaş hizmet verebilmek için modern, kolay ulaşılabilir, açık ve kapalı otoparkı olan yeni binasında; koruyucu sağlık hizmeti, bağışıklama, ayaktan tedavi gibi temel görevleri ile çağın gereklerine uygun şekilde dizayn edilmiştir. Kurumumuzda, sahip olduğumuz etik değerleri muhafaza ederek, bizden sağlık hizmeti talep eden bireylerin beklentilerini en iyi şekilde karşılamaya, insana saygı duymayı ve bundan dolayı hastalarımıza gerekli ilgi ve özeni göstermeye gayret ediyoruz.';
const subtitle = 'İzmir İl Sağlık Müdürlüğü İletişim';
const phone = 'Tel: +90 (232) 441 81 11';
const link = 'https://www.ism.gov.tr';
---

<section id="homepage" class="hero-content">
  <div class="ulucak-hero container">
    <div class="col-md-7">
      <h1 class="ulucak-hero-title">
        {title}
      </h1>
      <p class="ulucak-hero-subtitle">
        {description}
        <br />
        <br />
        {subtitle}
        <br />
        {phone}
        <br />
        Web: <a target="_blank" href={link}>{link}</a>
      </p>
    </div>
  </div>
</section>

<style>
  a {
    color: #fff !important;
    text-decoration: none;
  }

  .hero-content {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding: 3rem 0 145px 0;
  }

  .ulucak-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .ulucak-hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
  }

  .ulucak-hero-subtitle {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
</style>
